body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* 스크롤바 */
*::-webkit-scrollbar {
  width: 13px;
}
*::-webkit-scrollbar-track {
  background-color: #e6cfe0;
  box-shadow: inset 0 0 5px #fff;
}
*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-image: linear-gradient(#fabaec, #6e8bff);
  border: 3px solid transparent;
  border-radius: 30px;
}
/* ///////////// */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
.wrap {
  width: 100%;
  overflow: hidden;
}
.archivo_font {
  font-family: "Archivo", sans-serif;
}
.bevan_font {
  font-family: "Bevan", cursive;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Wemakeprice-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* /////////////////////////////////////// */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  user-select: none;
}
.header_wrap {
  width: 100%;
  height: 88px;
  /* background: rgba(255, 255, 255, 0.4); */
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_ac {
  height: 70px;
}
.logo {
  width: 65px;
  height: 65px;
  border: 3px solid #fff;

  color: #fff;
  font-size: 2.5vw;
  font-weight: 900;
  text-align: center;
  line-height: 65px;
  margin-left: 10px;
}
.logo_ac {
  width: 40px;
  height: 40px;
  font-size: 1.5vw;
  font-weight: 800;
  line-height: 40px;
}
.gnb {
  font-size: 21px;
  font-weight: 800;
}
.gnb_menu {
  float: left;
  margin: 0 10px;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.gnb_menu a {
  padding: 10px 0;
}
.gnb_square_wrap {
  width: 100%;
  height: 100%;
  /* border: 1px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.gnb_square {
  width: 100%;
  height: calc(100% / 2);
  transform: scaleY(0);
  transition: all 0.3s;
}
.squa1 {
  background: #fff;
  transform-origin: top;
}
.squa2 {
  background: #fff;
  transform-origin: bottom;
}
.gnb_menu:hover .gnb_square {
  transform: scaleY(1);
}

/* //////////////////////////////////////////// */
.wave {
  width: 100vw;
  height: 100vh;
  background: url(img/hologram_bg1.png) no-repeat center / cover;
  background-size: 100%;
  position: relative;
  user-select: none;
}
.main_txt {
  display: none;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 10%;
}
.year_circle {
  width: 88px;
  height: 88px;
  position: absolute;
  top: -20px;
  left: -30px;
  animation: year_rota 4s linear infinite;
}
/* //////// 2021 회전 ///////// */
@keyframes year_rota {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* /////////////////////////// */
.main_let {
  font-size: 5.8vw;
  font-weight: 900;
}
.main_border {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
.sm_txt {
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 5px;
}
.scroll_down {
  width: 170px;
  height: 240px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll_txt_box {
  transform: translate(-3px, 85px) rotate(-90deg);
}
.scroll_txt {
  font-size: 1.3vw;
  font-weight: 500;
}
.arrow_down {
  width: 2px;
  height: 20px;
  background: #fff;
  animation: arrow_down 0.6s linear alternate infinite;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.bottom_txt {
  font-size: 1.2vw;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(32px, -50%) rotate(-90deg);
  letter-spacing: 2px;
}
@keyframes arrow_down {
  /* 0% {transform: translateY(0px)}
    50% {transform: translateY(10px)}
    100% {transform: translateY(20px)} */
  0% {
    height: 20px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 50px;
  }
}

/* ///////////////////// */
.grad_bg_main {
  width: 100%;
  height: 100px;
  /* background-image: linear-gradient(to bottom, transparent, #638479 100px, #91b3a7); */
  background-image: linear-gradient(
    to bottom,
    transparent,
    #879be8 100px,
    #879be8
  );
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    #879be8 100px,
    #879be8
  );
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ///////////////////// */

.gra_bg_wrap {
  width: 100vw;
  /* height: calc(100vh * 5 + 250px); */
  color: #fff;
  /* background-image: -webkit-linear-gradient(top, #638479, #91b3a7);
    background-image: linear-gradient(to bottom, #638479, #91b3a7); */
  background-image: linear-gradient(to bottom, #879be8 8%, #a0c4f899);
  background-image: -webkit-linear-gradient(top, #879be8 8%, #a0c4f899);
}
.sec {
  width: 100vw;
  height: 100vh;
}
/* ///////////// about me ///////////// */
.aboutme {
  padding-top: 70px;
  box-sizing: border-box;
  font-family: "Wemakeprice-Bold";
  position: relative;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.about_bg {
  width: 85%;
  height: 90%;
  background: fixed url(../img/hologram_bg11_bk5.jpg) no-repeat center / cover;
  /* overflow: hidden; */
  position: relative;
  padding: 6% 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about_L_sec {
  width: 30%;
  height: 100%;
  padding: 5% 0 5% 40px;
  box-sizing: border-box;
  text-shadow: 2px 2px 5px #222;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_txt1 {
  height: 120px;
  font-size: 3vw;
  font-weight: 500;
  font-family: "GmarketSansBold";
}
.about_txt2 {
  font-size: 1.8vw;
  font-weight: 700;
  /* line-height: 32px; */
  /* margin-top: 110px; */
}
.about_M_sec {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.about_img {
  width: 100%;
  height: 100%;
  background: url(../img/my.jpg) no-repeat center / contain;
}
.about_R_sec {
  width: 40%;
  height: 100%;
  /* padding-bottom: 50px;
  box-sizing: border-box; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 90%;
  overflow: hidden;
  font-size: 1.4vw;
  font-weight: 600;
  margin: 10px;
  user-select: none;
  text-shadow: 1px 1px 5px #222;
}
.pf_li {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.6);
}
.profile i {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: baseline;
}
.about_R_more {
  font-size: 1.3vw;
  font-weight: 600;
  text-shadow: 1px 1px 5px #222;
  margin-bottom: 20px;
}
.about_R_more i {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 22px;
}
.about_R_txt_box {
  width: 90%;
  font-size: 1vw;
  font-family: "S-CoreDream-3Light";
  color: #777;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
}
.about_R_txt_box_ac {
  display: block;
  transition: all 0.3s;
}
.about_R_txt {
  margin: 0 10px 10px 7px;
}
.about_bot_txt_box {
  font-size: 33px;
}
.about_bot_txt {
  white-space: nowrap;
  font-style: italic;
}
.about_R_txt:last-child {
  margin-bottom: 0;
}
.a_b_txt1,
.a_b_txt3 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #5856a8;
  -webkit-text-fill-color: transparent;
}
.a_b_txt1 {
  position: absolute;
  right: 0;
  bottom: 12%;
}
.a_b_txt2 {
  position: absolute;
  left: 0px;
  bottom: 7%;
}
.a_b_txt3 {
  position: absolute;
  right: 0px;
  bottom: 2%;
}

/* ///////////// skills ///////////// */
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #999; */
  position: relative;
}
.skills_pan {
  width: calc((100% - 160px) / 3);
  height: 80%;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 0 20px;
  box-sizing: border-box;
  color: #333;
  font-family: "S-CoreDream-3Light";
  box-shadow: rgb(22 22 26 / 5%) 0px 5px 16px, rgb(22 22 26 / 5%) 0px 5px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sk_sec {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.sk_sec:last-child {
  margin-bottom: 0;
}
.skill_box {
  width: calc((100% - 40px) / 2);
  font-size: 1vw;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
  float: left;
  margin: 10px;
}
.sk_img {
  width: 60%;
  max-width: 85px;
  /* height: 95px; */
  margin: 0 auto;
}
.sk_box_tit {
  margin: 5px 0;
  font-size: 1.3vw;
  font-family: "GmarketSansBold";
}
.skill_box img {
  width: 100%;
  margin-bottom: 20px;
}

.sk_init_pos {
  transform: translateY(100px);
  opacity: 0;
}
.sk_ac {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.4s;
}

/* ///////////// works ///////////// */

.works {
  background: rgba(160, 196, 248, 0.6);
  /* background-image: linear-gradient(
    to bottom,
    #ffebee 8%,
    #fff 84%,
    #d1abcc 8%
  ); */
  /* background-image: -webkit-linear-gradient(
    top,
    #ffebee 8%,
    #fff 84%,
    #d1abcc 8%
  ); */
}
.work_box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.work_img_outer {
  width: 38%;
  height: 650px;
  max-height: 696px;
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.work_img_inner {
  width: 100%;
  height: 550px;
  max-height: 550px;
}
.work_img {
  position: absolute;
}
.dk_imac {
  width: 85%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dk_ipad {
  width: 42%;
  top: 50%;
  left: 58%;
}
.dk_iphone {
  width: 14%;
  top: 55%;
  left: 52%;
}
.work_btn_sec {
  width: 90%;
  display: inline-block;
  overflow: hidden;
  margin-top: 10px;
}
/* //go 버튼// */
.go_btn {
  width: calc((100% - 40px) / 2);
  height: 60px;
  text-align: center;
  font-size: 1.3vw;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 2px;
  color: #222;
  background: transparent;
  border: 2px solid #222;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  float: left;
  position: relative;
  z-index: 10;

  text-transform: uppercase !important;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}
.go_btn:hover {
  /* border: 2px solid #f8f2bc; */
  border: 2px solid #ffddf5;
  color: #1b1a50;
}
.go_btn::before {
  content: "";
  width: 0%;
  height: 100%;
  /* display: block; */
  /* background: #f8f2bc; */
  background: #ffddf5;
  opacity: 1;
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  left: -10%;
  z-index: -12;

  transform: skewX(-20deg);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.go_btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #1b1a50;
  opacity: 0;
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  left: -10%;
  z-index: -15;

  transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transition: all 0.3s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.3s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.3s cubic-bezier(0.2, 0.95, 0.57, 0.99);
}
.go_btn:hover::before,
.go_btn:hover::before {
  opacity: 1;
  width: 116%;
}
.go_btn:hover::after,
.go_btn:hover::after {
  opacity: 1;
  width: 120%;
}
.go_btn a {
  display: inline-block;
  padding: 0 15%;
}
/* ////////////////////// */
.source_btn {
  width: calc((100% - 40px) / 2);
  height: 60px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.4vw;
  font-weight: 600;
  line-height: 60px;
  color: #222;
  float: right;
}
.source_btn a {
  display: inline-block;
}
.github_img {
  width: 15%;
  vertical-align: middle;
}
.source_btn:hover {
  transform: translateX(10px);
  transition: all 0.3s;
}
.work_detail {
  width: 40%;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Cafe24SsurroundAir";
  box-shadow: rgb(22 22 26 / 5%) 0px 5px 16px, rgb(22 22 26 / 5%) 0px 5px 32px;
  border-radius: 17px;
}
.work_box_item {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.work_box_item:last-child {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.work_box_item h2 {
  margin-right: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 2.1vw;
  text-shadow: 2px 2px 3px #fff;
}
.w_dt_logo img {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.w_skill {
  float: left;
  margin: 10px;
  padding: 8px 11px;
  box-sizing: border-box;
  box-shadow: rgb(22 22 26 / 10%) 4px 4px 12px;
  background: #fff;
  color: #8b8e92;
  font-size: 1.1vw;
  font-family: "GmarketSansBold";
}
.w_color_box {
  float: left;
  margin: 5px 10px;
}
.color_circle {
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 4px #555;
  border-radius: 50%;
  margin: 0 auto 7px;
}
.color_cir1 {
  background: #222;
}
.color_cir2 {
  background: #fff;
}
.color_name {
  text-align: center;
  font-size: 1.1vw;
  font-weight: 500;
}
.w_dt_time p {
  font-size: 1.4vw;
  font-weight: 600;
  margin: 5px 15px;
}
.w_dt_desc_p {
  font-size: 1.4vw;
  font-weight: 500;
  font-family: "S-CoreDream-3Light";
}
.w_dt_desc_cp {
  margin-top: 40px;
  font-size: 1.6vw;
  font-weight: 800;
}
.lagom_logo {
  width: 35% !important;
  margin-bottom: 10px;
}
.lagom_iphone {
  width: 14%;
  top: 49%;
  left: 73%;
}
.lg_color_cir1 {
  background: #c9cacd;
}
.lg_color_cir2 {
  background: #fafafa;
}
.lg_color_cir3 {
  background: #fff;
}
/* ///리액트프로젝트/// */
.react_tit {
  font-family: "Wemakeprice-Bold";
  font-size: 2.3vw;
  color: #fff;
  text-align: center;
  padding: 0 3%;
}
.react_box_sec {
  width: 100%;
  height: 87%;
  display: flex;
  align-items: center;
}
.react_box {
  width: calc((100% - 95px) / 4);
  height: 78%;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
/* ////////호버박스/////// */
.react_hov_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(27, 27, 27, 0.8);
  opacity: 0;
}
.react_hov_line {
  background: #fff;
  position: absolute;
  transition: all 0.3s;
}
.line_top {
  width: 0;
  height: 2px;
  top: 30px;
  left: 10%;
}
.line_left {
  width: 2px;
  height: 0;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.line_bottom {
  width: 0;
  height: 2px;
  bottom: 30px;
  right: 10%;
}
.line_right {
  width: 2px;
  height: 0;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.react_hov_txt_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.react_hov_box a {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  margin: 10px 0;
}
.react_hov_txt {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
  transition: all 0.4s;
}
.react_hov_box:hover {
  opacity: 1;
  transition: all 0.3s;
}
.react_hov_box:hover .line_top,
.react_hov_box:hover .line_bottom {
  width: 80%;
}
.react_hov_box:hover .line_left,
.react_hov_box:hover .line_right {
  height: 90%;
}
.react_hov_txt_box a:hover .react_hov_txt {
  border: 2px solid #fff;
}
/* /////////////////////// */
.react_img_box {
  width: 100%;
  height: 73%;
  overflow: hidden;
}
.react_img1 {
  background: url(../img/portfolio/todolist.png) no-repeat top / cover;
}
.react_img2 {
  background: url(../img/portfolio/movie.png) no-repeat top / cover;
}
.react_img3 {
  background: url(../img/portfolio/gyeonggido.png) no-repeat top / cover;
}
.react_img4 {
  background: url(../img/portfolio/corona.png) no-repeat top left / cover;
}
.react_txt_box {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "S-CoreDream-3Light";
}
.react_txt_tit {
  font-size: 1.3vw;
  font-weight: 800;
  margin-bottom: 5px;
}
.react_txt_desc {
  font-size: 1.16vw;
}
/* /////////////////// */

/* ////work 스크롤애니메이션//// */

.wk_init {
  transform: translateX(50px);
  opacity: 1;
}
.wk_ac {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.4s;
}
/* ////////////////////// */

/* ///////////// contact ///////////// */
.contact {
  background-image: linear-gradient(to bottom, #a0c4f899, #fff);
  background-image: -webkit-linear-gradient(top, #a0c4f899, #fff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.contact_box {
  width: calc((100% - 110px) / 4);
  height: 22vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 30px;
  background: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgb(22 22 26 / 5%) 0px 5px 16px, rgb(22 22 26 / 5%) 0px 5px 32px;
}
.contact_box a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.contact_ac {
  width: 100%;
  height: 0;
  background-image: linear-gradient(to bottom, #fde9ec, #d0e5f5);
  background-image: -webkit-linear-gradient(top, #fde9ec, #d0e5f5);
  transition: all 0.3s;

  position: absolute;
  top: 0;
  left: 0;
}
.contact_box:hover .contact_ac {
  height: 100%;
}
.contact_inner {
  width: 100%;
  height: 100%;
  border-radius: 30px;

  position: absolute;
  top: 0;
  left: 0;
}
.contact_box img {
  width: auto;
  height: 70%;
  padding-top: 25px;
  box-sizing: border-box;
}
.contact_box p {
  font-size: 1.6vw;
  margin-top: 20px;
}

/* /////////////////////////////////////// */

@media (max-width: 1135px) {
  .year_circle {
    width: 78px;
    height: 78px;
    top: -20px;
    left: -28px;
  }
  .scroll_txt_box {
    transform: translate(-3px, 125px) rotate(-90deg);
  }
  .about_L_sec {
    justify-content: space-around;
  }
  .about_bot_txt_box {
    font-size: 26px;
  }
}
@media (max-width: 1000px) {
  .w_skill {
    margin: 4px;
  }
}
@media (max-width: 900px) {
  .header_wrap {
    height: 70px;
  }
  .logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .header_ac {
    height: 60px;
  }
  .logo_ac {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .gnb {
    font-size: 16px;
  }
  .scroll_txt_box {
    transform: translate(-1px, 143px) rotate(-90deg);
  }
  .work_img_outer {
    height: 430px;
  }
  .work_img_inner {
    width: 100%;
    height: 85%;
  }
  .work_btn_sec {
    margin-top: 0;
  }
  .go_btn {
    height: 50px;
    line-height: 50px;
  }
  .source_btn {
    height: 50px;
    line-height: 50px;
  }
  .color_circle {
    width: 40px;
    height: 40px;
  }
  .w_dt_desc_cp {
    font-size: 1.5vw;
  }
  .contact_box p {
    margin-top: 10px;
  }
}
@media (max-width: 876px) {
  .w_skill {
    padding: 7px;
  }
  .work_detail {
    padding: 15px;
    border-radius: 12px;
  }
  .react_hov_txt {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .header_wrap {
    height: 58px;
  }
  .logo {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }
  .header_ac {
    height: 45px;
  }
  .logo_ac {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .gnb {
    font-size: 13px;
  }
  .year_circle {
    width: 65px;
    height: 65px;
  }
  .about_M_sec {
    width: 20%;
  }
  .profile {
    margin: 5px;
  }
  .pf_li {
    padding: 5px;
    border-radius: 6px;
  }
  .profile i {
    font-size: 12px;
  }
  .about_R_more {
    margin-bottom: 0;
  }
  .about_R_txt_box {
    padding: 5px;
  }
  .about_bot_txt_box {
    font-size: 18px;
  }
  .skills_pan {
    width: calc((100% - 80px) / 3);
    margin: 0 10px;
    padding: 15px;
  }
  .sk_sec {
    margin-bottom: 5px;
  }
  .sk_img {
    width: 45%;
  }
  .skill_box img {
    margin-bottom: 0;
  }
  .sk_desc {
    display: none;
  }
  .work_img_outer {
    height: 370px;
  }
  .go_btn {
    height: 35px;
    line-height: 35px;
  }
  .go_btn a {
    padding: 0 8%;
  }
  .source_btn {
    height: 35px;
    line-height: 35px;
  }
  .github_img {
    width: 12%;
  }

  .work_box_item {
    margin-bottom: 5px;
  }
  .w_skill {
    padding: 5px;
  }
  .color_circle {
    width: 30px;
    height: 30px;
  }
  .react_box_sec {
    display: inline-block;
  }
  .react_box {
    width: calc((100% - 40px) / 2);
    height: 45%;
    float: left;
  }
  .react_txt_box {
    padding: 12px;
  }
  .react_txt_desc {
    display: none;
  }
  .react_hov_box:hover .line_left,
  .react_hov_box:hover .line_right {
    height: 83%;
  }
  .react_hov_box a {
    margin: 0;
  }
  .react_hov_txt {
    font-size: 22px;
  }
}
@media (max-width: 710px) {
  .go_btn {
    width: calc((100% - 5px) / 2);
    border: 1px solid #222;
  }
  .go_btn a {
    padding: 0;
  }
  .source_btn {
    width: calc((100% - 5px) / 2);
  }
}
@media (max-width: 665px) {
  .work_box {
    height: auto;
    display: block;
  }
  .work_img_outer {
    width: 65%;
    margin: 0 auto;
  }
  .work_img_inner {
    height: 70%;
  }
  .work_btn_sec {
    padding-top: 60px;
  }
  .work_detail {
    width: 70%;
    margin: 30px auto;
  }
  .work_box3 {
    /* display: flex; */
    height: 100vh;
  }
  .contact {
    height: 60vh;
  }
  .contact_box {
    border-radius: 20px;
  }
  .contact_box p {
    margin-top: 0;
  }
}
@media (max-width: 550px) {
  .gnb {
    font-size: 11px;
  }
  .year_circle {
    width: 40px;
    height: 40px;
    top: -12px;
    left: -16px;
  }
  .about_bg {
    display: inline-block;
  }
  .about_L_sec {
    width: 100%;
    height: auto;
    padding: 0 5% 5%;
    flex-direction: row;
  }
  .about_txt1 {
    width: 120px;
    height: auto;
  }
  .about_M_sec {
    width: 30%;
    height: 70%;
    display: inline-block;
    margin: 0 5%;
  }
  .about_R_sec {
    width: 50%;
    height: auto;
    float: right;
    margin: 5%;
  }
}
@media (max-width: 480px) {
  .wave {
    background: url(img/hologram_bg1.png) no-repeat center / cover;
    background-size: auto;
  }
  .gnb_menu {
    margin: 0 5px;
  }
  .skills {
    height: auto;
    flex-direction: column;
  }
  .skills_pan {
    width: 80%;
    margin: 20px;
  }
  .react_tit {
    font-size: 4vw;
  }
  .contact {
    display: block;
  }
  .contact_box {
    width: calc((100% - 120px) / 2);
    height: 35vw;
    float: left;
    margin: 30px;
  }
  .contact_box p {
    margin-top: 10px;
  }
}
@media (max-width: 420px) {
  .header_wrap {
    padding: 0 5px;
  }
  .gnb_menu {
    padding: 10px 6px;
  }
  .aboutme {
    height: 80vh;
  }
}
